<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.aluo.provider.dao.UserDao">
	<select id="getUserList" resultType="com.aluo.domain.User">
		select * from user
	</select>

	<insert id="register">
		insert into user
		(mobile,pass,IDCard,invitor,createDate)
		values
		(#{mobile},#{pass},#{IDCard},#{invitor},#{createDate})
	</insert>

	<select id="login" resultType="com.aluo.domain.User">
		select * from user where mobile =
		#{mobile}
	</select>
</mapper>